name: Gerar ISO PS2 Automaticamente

# sempre que criar nova release
on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build-iso:
    runs-on: ubuntu-latest
    steps:
      # 1. Baixa os arquivos do seu repositório
      - name: Baixar Código do Jogo
        uses: actions/checkout@v3

      # 2. Instala o programa de criar ISO (genisoimage)
      - name: Instalar Ferramenta de ISO
        run: sudo apt-get update && sudo apt-get install -y genisoimage

      # 3. Roda o comando de criar a ISO (excluir lixo do git)
      - name: Criar Arquivo .ISO
        run: |
          mkisofs -o Krone_Ruinas.iso -R -J -V "KRONE_PS2" \
          -exclude .git \
          -exclude .github \
          -exclude docs \
          -exclude README.md \
          -exclude LICENSE \
          -exclude *.png \
          .

      # 4. ISO pronta e anexada na página de download de release
      - name: Upload da ISO para o GitHub
        uses: softprops/action-gh-release@v1
        with:
          files: Krone_Ruinas.iso